[submodule "fncs"]
	path = fncs
	url = https://github.com/FNCS/fncs.git
[submodule "HELICS-src"]
	path = HELICS-src
	url = https://github.com/GMLC-TDC/HELICS-src.git
[submodule "linenoise-ng"]
	path = linenoise-ng
	url = https://github.com/pnnl/linenoise-ng.git
